WP_ENV=development

DB_NAME=database_name_here
DB_USER=username_here
DB_PASSWORD=password_here
# DB_HOST AND DB_COLLATE can be left blank in most cases
DB_HOST=
DB_COLLATE=
DB_CHARSET=utf8

$table_prefix=wp_
